<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>
<div class="headerBlankSpace"></div>
<h1>Forgot your password?</h1>
<form method="post">
    <div class="form-group">
        <label for="runners">Select your callsign</label>
        <select name="id"
        id="runners">
            <option th:each="runner : ${runners}"
                    th:text="${runner.callsign}"
                    th:value="${runner.id}"></option>
        </select>
    <br/>
        <button type="submit" class="btn btn-primary">Submit runner to reset password</button>
    </div>
</form>
</body>
</html>