<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">
<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>


<div class="headerBlankSpace"></div>
<h1 style="text-align:center;"
    th:unless="${friendsList} or ${runnerLevel}">Registered
    Runners</h1>
<h1 style="text-align:center;" th:if="${friendsList}"
    th:text="'Friends of '+${currentRunner.callsign}"
    th:unless="${friendsList} and ${friendsList.isEmpty()}"></h1>
<h1 style="text-align:center;" th:if="${runnerLevel}"
    th:text="${runnerLevel}+ ' level runners'"></h1>
<div class="centeringDiv"
     th:if="${currentRunner} and !${friendsList} and ${!currentRunner.friends.isEmpty()}">
    <small class="form-text text-muted"
           style="text-align:center;">&#9733
        :Friends</small></div>
<div class="centeringDiv"
     th:if="${currentRunner} and !${friendsList} and ${!runnersWithFriendRequests.isEmpty()}">
    <small class="form-text text-muted"
           style="text-align:center;">&#9734
        :Requested friends who have not accepted
        yet</small></div>
<div class="centeringDiv"
     th:if="${currentRunner} and !${friendsList} and ${!runnersWhoHaveSentCurrentRunnerFriendRequest.isEmpty()}">
    <small class="form-text text-muted"
           style="text-align:center;">&oast;
        :Runners who have requested to be your
        friend</small>
</div>

<div class="centeringDiv"
     th:unless="${friendsList} or ${currentRunner} or ${runnerLevel}">
    <span>
         <span><a class="btn btn-primary"
                  style="align-items:center; margin:5px; padding:5px;"
                  th:href="@{'/runners/addRunner'}">Create</a></span>
         <span>a new Runner</span>
    </span>
</div>
<div class="centeringDiv">
     <div th:if="${currentRunner} and ${!currentRunner.friends.isEmpty()} and !${friendsList}">
    <a th:href="@{/runners?friendsList=true}"
       th:text="'List friends only'"
       class="btn btn-primary" style="margin:3px;"></a>
     </div>
    <div th:if="${currentRunner} and !${runnerLevel}">
        <a
                th:href="@{'/runners?runnerLevel='+${currentRunner.runnerLevel.getDisplayName()}}" class="btn btn-primary"
                th:text="'List runners of your level'"
                style="margin:3px;"></a>
    </div>
    <div class="centeringDiv"
         th:if="${friendsList} or ${runnerLevel}">
        <a th:href="@{/runners}" class="btn btn-primary"
           th:text="'See complete runner catalog'"
           style="margin:3px;"></a>
    </div>
</div>

<h3 style="text-align:center;" th:if="${sortType}"
    th:text="'Sorted by '+${sortType}"></h3>
<small th:if="${sortType}" class="form-text text-muted"
       style="text-align:center;"><a
        th:href="@{'/runners/'}">Remove Sorting</a></small>

<table class="runnertable"
       th:unless="${friendsList} and ${friendsList.isEmpty()}" style="margin:3px;">
    <tr class="runnertablehead">
        <th th:unless="${friendsList} or !${currentRunner}"
            style="width:5vw"></th>
        <th><span>Callsign</span><span
                th:unless="${friendsList} or ${runnerLevel}"><a
                th:href="@{'/runners/callsignAsc'}">&#8593;
        </a></span><span
                th:unless="${friendsList} or ${runnerLevel}"><a
                th:href="@{'/runners/callsignDesc'}">&#8595;
        </a></span>
        </th>
        <th th:unless="${runnerLevel}"><span>Runner
            Level</span><span
                th:unless="${friendsList}"><a
                th:href="@{'/runners/runnerLevelAsc'}">&#8593;
        </a></span><span th:unless="${friendsList}"><a
                th:href="@{'/runners/runnerLevelDesc'}">
            &#8595;</a></span>
        </th>

        <th class="mobilePortraitDelete">
            <span>Name</span><br
                th:unless="${friendsList} or ${runnerLevel}">
            <span
                    th:unless="${friendsList} or ${runnerLevel}">
                <a th:href="@{'/runners/firstNameAsc'}">&#8593;</a>
            </span>
            <span
                    th:unless="${friendsList} or ${runnerLevel}">first
            </span>
            <span
                    th:unless="${friendsList} or ${runnerLevel}">
                <a th:href="@{'/runners/firstNameDesc'}">
                    &#8595;</a>
            </span><br>
            <span
                    th:unless="${friendsList} or ${runnerLevel}">
                <a th:href="@{'/runners/lastNameAsc'}">
                    &#8593;</a>
            </span>
            <span
                    th:unless="${friendsList} or ${runnerLevel}">last
            </span>
            <span
                    th:unless="${friendsList} or ${runnerLevel}">
                <a th:href="@{'/runners/lastNameDesc'}">
                    &#8595;</a>
            </span>
        </th>
        <th class="mobilePortraitDelete"><span>Age
        </span>
            <span
                    th:unless="${friendsList} or ${runnerLevel}"><a
                    th:href="@{'/runners/ageAsc'}">&#8593;
        </a></span><span
                    th:unless="${friendsList} or ${runnerLevel}"><a
                    th:href="@{'/runners/ageDesc'}">&#8595;
        </a></span>
        </th>
        <th class="mobilePortraitDelete">Zip Code</th>
    </tr>


    <tr class="runnertableline"
        th:each="runner : ${runners}"
        th:unless="${friendsList} or ${currentRunner.equals(runner)} or ${runnerLevel} or ${runner.deletedRunner}">
        <td th:if="${currentRunner}">
             <span
                     th:each="possibleFriend : ${currentRunner.friends}"
                     th:if="${runner.equals(possibleFriend)}">&#9733</span>
            <span th:if="${runnersWithFriendRequests}"><span th:if="${runnersWithFriendRequests.contains(runner)}">&#9734</span></span>
            <span th:if="${runnersWhoHaveSentCurrentRunnerFriendRequest}"><span th:if="${runnersWhoHaveSentCurrentRunnerFriendRequest.contains(runner)}">&oast;</span></span>
        </td>
        <td>
            <a th:text="${runner.callsign}"
               th:href="@{'/runners/runnerDetails/'+${runner.id}}"></a>
        </td>
        <td class="mobilePortraitDelete"
            th:if="${runner.callsignOnly}"
            style="text-align:center; border-style:outset; background-color:silver; color:black;"
            colspan="4" th:text="'Runner has chosen
            Callsign-only privacy mode'"></td>
        <td th:unless="${runner.callsignOnly}"
            th:text="${runner.runnerLevel.getDisplayName()}">
        </td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}"
            th:text="${runner.firstName}+' '+${runner.lastName}"></td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}"
            th:text="${runner.age}"></td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}">
            <span th:unless="${runner.zip}==0"
                  th:text="${runner.zip}"></span>
        </td>

    </tr>
    <tr class="runnertableline"
        th:each="runner : ${friendsList}"
        th:if="${friendsList} and ${!runner.deletedRunner}">
        <td>
            <a th:text="${runner.callsign}"
               th:href="@{'/runners/runnerDetails/'+${runner.id}}"></a>
        </td>
        <td class="mobilePortraitDelete"
            th:if="${runner.callsignOnly}"
            style="text-align:center; border-style:outset; background-color:silver; color:black;"
            colspan="4" th:text="'Runner has chosen
            Callsign-only privacy mode'"></td>
        <td th:unless="${runner.callsignOnly}"
                th:text="${runner.runnerLevel.getDisplayName()}">
        </td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}"
            th:text="${runner.firstName}+' '+${runner.lastName}"></td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}"
            th:text="${runner.age}"></td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}">
            <span th:unless="${runner.zip}==0"
                  th:text="${runner.zip}"></span>
        </td>
    </tr>

    <tr class="runnertableline"
        th:each="runner : ${runners}"
        th:if="${runnerLevel} and ${runner.runnerLevel.getDisplayName().equals(runnerLevel)} and ${!runner.equals(currentRunner)} and ${!(runner.deletedRunner)}">
        <td th:if="${currentRunner}">
             <span
                     th:each="possibleFriend : ${currentRunner.friends}"
                     th:if="${runner.equals(possibleFriend)}">&#9733</span>
            <span th:if="${runnersWithFriendRequests}"><span th:if="${runnersWithFriendRequests.contains(runner)}">&#9734</span></span>
            <span th:if="${runnersWhoHaveSentCurrentRunnerFriendRequest}"><span th:if="${runnersWhoHaveSentCurrentRunnerFriendRequest.contains(runner)}">&oast;</span></span>
        </td>
        <td>
            <a th:text="${runner.callsign}"
               th:href="@{'/runners/runnerDetails/'+${runner.id}}"></a>
        </td>
        <td class="mobilePortraitDelete"
            th:if="${runner.callsignOnly}"
            style="text-align:center; border-style:outset; background-color:silver; color:black;"
            colspan="3" th:text="'Runner has chosen
            Callsign-only privacy mode'"></td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}"
            th:text="${runner.firstName}+' '+${runner.lastName}"></td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}"
            th:text="${runner.age}"></td>
        <td class="mobilePortraitDelete"
            th:unless="${runner.callsignOnly}">
            <span th:unless="${runner.zip}==0"
                  th:text="${runner.zip}"></span>
        </td>
    </tr>

</table>
<div class="centeringDiv"
     th:if="${friendsList} and ${friendsList.isEmpty()}">
    <h1>Looks like you haven't added any friends yet</h1>
</div>

<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>