<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">
<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>

<div class="headerBlankSpace"></div>

<div class="centeringDiv"
     th:unless="${currentRunnerIsDetailedRunner}">
    <small class="form-text text-muted">Viewing
        friend</small>
</div>

<div class="centeringDiv">
    <h1 class="runnerDetailsHeader"
        th:text="${detailedRunner.Callsign}"
        style="margin-bottom:10px;">
    </h1>
</div>


<div class="centeringDiv">
    <span class="mobileBox"
          th:text="'Name: '+${detailedRunner.firstName}+' '+${detailedRunner.lastName}"></span>
    <span class="mobileBox"
          th:text="'Age: '+${detailedRunner.age}"></span>
    <span class="mobileBox"
          th:text="'Weight: '+${detailedRunner.weight}"></span>
</div>

<div class="centeringDiv">
    <span class="mobileBox"
          th:text="'Gender: '+${detailedRunner.gender.getDisplayName()}"></span>
    <span class="mobileBox"
          th:text="'Zip Code: '+${detailedRunner.zip}"></span>
</div>
<div class="centeringDiv">
    <span class="mobileBox"
          th:text="'Running Level: '+${detailedRunner.runnerLevel.getDisplayName()}"></span>
</div>
<div class="centeringDiv"
     th:if="${currentRunnerIsDetailedRunner}">
    <a
            th:href="@{'/runners/editRunner/'+${detailedRunner.id}}"
            class="btn btn-primary"
            style="margin-top:2px; margin-bottom:10px;">Edit
        Details</a>
</div>


<div th:if="${currentRunnerIsDetailedRunner}"
     class="centeringDiv">
    <a th:href="@{/runners?friendsList=true}"
       class="btn btn-primary"
       th:text="${'View friends'}" style="margin:3px;"></a>
    <a
            th:href="@{'/runners?runnerLevel='+${currentRunner.runnerLevel.getDisplayName()}}"
            class="btn btn-primary"
            th:text="'View other runners of level: '+${currentRunner.runnerLevel.getDisplayName()}" style="margin:3px;"></a>
</div>

<div th:if="${currentRunnerIsDetailedRunner}">
    <div class="centeringDiv" th:if="${friendRequests}">
        <a th:each="friendRequest : ${friendRequests}"
           th:text="${friendRequest.callsign}+' would like to be your friend'"
           class="btn btn-primary"
           th:href="@{'/runners/friendRequest/'+${friendRequest.id}+'/'+${detailedRunner.id}}"
           style="margin:5px;">
        </a>
    </div>
</div>

<div
        th:unless="${currentRunnerIsDetailedRunner}"
        class="centeringDiv">
    <a class="btn btn-primary"
       th:href="@{'/comments/createComment/'+${detailedRunner.id}}" th:text="'Send a private message to '+${detailedRunner.callsign}"></a>

</div>

<div style="padding:10px"
     th:if="${currentRunnerIsDetailedRunner}">
    <div th:if="${comments}" class="centeringDiv">
        <h1 class="runnerDetailsHeader"
            th:text="'Comments for '+${detailedRunner.callsign}"></h1>
    </div>
    <div th:if="${comments}">
        <div th:each="comment : ${comments}"
             style="border-style:solid">
            <p>
        <span><a
                th:href="@{'../../runners/runnerDetails/'+${comment.messageCreator.id}}"
                th:text="${comment.messageCreator.callsign}"></a></span>
                <span th:text="' said'"></span>
                <span th:if="${comment.runSession}"
                      th:text="' about the '"></span>
                <span
                        th:if="${comment.runSession}"><a
                        th:href="@{'../../runSessions/runSessionDetails/'+${comment.runSession.id}}" th:text="${comment.runSession.name}"></a></span>
                <span th:if="${comment.runSession}"
                      th:text="' session'"></span>
                <span th:if="${comment.trail}"
                      th:text="' on the '"></span>
                <span th:if="${comment.trail}"><a
                        th:href="@{'../../trails/trailDetails/'+${comment.trail.id}}"
                        th:text="${comment.trail.name}"></a></span>
                <span th:if="${comment.trail}"
                      th:text="' trail'"></span>
                <span
                        th:text="' on '+${comment.displayStringDate()}+' at '+${comment.displayStringTime()}+' CST'"></span>
            </p>
            <p th:text="'Title: '+${comment.messageTitle}"></p>
            <p th:text="${comment.message}"></p>
            <small
                    th:if="${comment.privateMessage == true}"
                    class="form-text text-muted">Private
                Message
            </small>
        </div>
    </div>
</div>

<div th:if="${runSessions}" style="border-style:solid;
     padding:20px; margin:5px;">
    <div class="centeringDiv">
        <h1 class="runnerDetailsHeader"
            th:text="'Run Sessions '+${detailedRunner.callsign}+' led'">
        </h1>
    </div>
    <div>
        <table class="runnertable">
            <tr class="runnertablehead">
                <th>Name</th>
                <th>Date</th>
                <th>Trail</th>
                <th>Laps</th>
            </tr>
            <tr th:each="runSession: ${runSessions}"
                class="runnertableline">
                <td>
                    <a th:href="@{'/runSessions/runSessionDetails/'+${runSession.id}}"
                       th:text="${runSession.name}"></a>
                </td>
                <td th:text="${runSession.date}"></td>
                <td>
                    <a th:href="@{'/trails/trailDetails/'+${runSession.trail.id}}"
                       th:text="${runSession.trail.name}"></a>
                </td>
                <td th:text="${runSession.laps}"></td>
            </tr>
        </table>
    </div>
</div>

<div th:if="${otherSessions}" style="border-style:solid;
     padding:20px; margin:5px;">
    <div th:if="${otherSessions}" class="centeringDiv">
        <h1 class="runnerDetailsHeader"
            th:text="'Run Sessions '+${detailedRunner.callsign}+' joined'">
        </h1>
    </div>
    <div th:if="${otherSessions}">
        <table class="runnertable">
            <tr class="runnertablehead">
                <th>Name</th>
                <th>Date</th>
                <th>Trail</th>
                <th>Laps</th>
            </tr>
            <tr th:each="runSession: ${otherSessions}"
                class="runnertableline">
                <td>
                    <a th:href="@{'/runSessions/runSessionDetails/'+${runSession.id}}"
                       th:text="${runSession.name}"></a>
                </td>
                <td th:text="${runSession.date}"></td>
                <td>
                    <a th:href="@{'/trails/trailDetails/'+${runSession.trail.id}}"
                       th:text="${runSession.trail.name}"></a>
                </td>
                <td th:text="${runSession.laps}"></td>
            </tr>
        </table>
    </div>
</div>


<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>