<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>


<div class="headerBlankSpace"></div>
<div class="centeringDiv">
    <p
            th:text="${'You must be logged in as '+detailedRunner.callsign+' or be their friend to view this page'}"></p>
</div>
<div class="centeringDiv">
    <a th:unless="${currentRunner}" class="btn btn-primary"
       th:href="@{'/runners/login/'+${detailedRunner.id}}" th:text="'Login as '+${detailedRunner.callsign}"></a>
    <a th:unless="${currentRunner}"
       class="btn btn-primary"
       th:href="@{/runners/login}"
       th:text="'Login as another runner'"></a>
    <form th:if="${currentRunner}" method="post">
        <button type="submit"
                class="btn btn-primary"
                th:text="'Request to be friends with '+${detailedRunner.callsign}"></button>

    </form>
</div>

<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>