<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>

<div class="headerBlankSpace"></div>
<h1 style="text-align:center;" >Community
    Conversations
</h1>
<div th:unless="${currentRunner}" class="centeringDiv">
    <div>
        <span><a
                th:href="@{/runners/login}"
                class="btn btn-primary" style="margin:5px; padding:5px;">Login</a></span>
        <span>to contribute
            to comments</span>
    </div>
</div>
<div th:if="${currentRunner}" class="centeringDiv">
    <a
       th:href="@{/comments/createComment}"
       class="btn btn-primary"
       style="margin:5px; padding:5px;">Post a
        Comment</a>
</div>
<div class="centeringDiv">
    <a class="mobilePortraitDelete" th:style="${pageNumber<=2} ? 'visibility:hidden' : 'visibility:visible'"
       th:href="@{/comments?pageNumber=1}"
       th:text="'Newest Comments'"></a>
    <a th:href="@{'/comments?pageNumber='+${previousPage}}"
       th:style="${previousPage} ? 'visibility:visible' : 'visibility:hidden'"
       th:text="'Newer Comments'"></a>
    <div style="font-style:italic;" th:text="'Page '+${pageNumber}+' of '+${totalPages}"></div>
    <a class="mobilePortraitJustifyRight"
       th:style="${nextPage} ? 'visibility:visible' : 'visibility:hidden'" th:text="'Older Comments'"
       th:href="@{'/comments?pageNumber='+${nextPage}}"></a>
    <a class="mobilePortraitDelete"
       th:style="${pageNumber>=(totalPages-1)}?'visibility:hidden' :
                'visibility:visible'"
       th:href="@{'/comments?pageNumber='+${totalPages}}"
       th:text="'Oldest Comments'"></a>
</div>

<div th:replace="fragments :: commentBlock"></div>

<div class="centeringDiv">
    <a class="mobilePortraitDelete" th:style="${pageNumber<=2} ? 'visibility:hidden' : 'visibility:visible'"
       th:href="@{/comments?pageNumber=1}"
       th:text="'Newest Comments'"></a>
    <a th:href="@{'/comments?pageNumber='+${previousPage}}"
       th:style="${previousPage} ? 'visibility:visible' : 'visibility:hidden'"
       th:text="'Newer Comments'"></a>
    <div style="font-style:italic;" th:text="'Page '+${pageNumber}+' of '+${totalPages}"></div>
    <a class="mobilePortraitJustifyRight"
       th:style="${nextPage} ? 'visibility:visible' : 'visibility:hidden'" th:text="'Older Comments'"
       th:href="@{'/comments?pageNumber='+${nextPage}}"></a>
    <a class="mobilePortraitDelete"
       th:style="${pageNumber>=(totalPages-1)}?'visibility:hidden' :
                'visibility:visible'"
       th:href="@{'/comments?pageNumber='+${totalPages}}"
       th:text="'Oldest Comments'"></a>
</div>

<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>