<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>

<div class="headerBlankSpace"></div>
<h1 style="text-align:center;" >Community
    Conversations
</h1>
<div th:unless="${currentRunner}" class="centeringDiv">
    <div>
        <span><a
                th:href="@{/runners/login}"
                class="btn btn-primary" style="margin:5px; padding:5px;">Login</a></span>
        <span>to contribute
            to comments</span>
    </div>
</div>
<div th:if="${currentRunner}" class="centeringDiv">
    <a
       th:href="@{/comments/createComment}"
       class="btn btn-primary"
       style="margin:5px; padding:5px;">Post a
        Comment</a>
</div>
<div class="centeringDiv">

    <a th:href="@{'/comments?pageNumber='+${previousPage}}"
       th:style="${previousPage} ? 'visibility:visible' : 'visibility:hidden'"
       th:text="'Newer Comments'"></a>
    <div style="font-style:italic;" th:text="'Page '+(${pageNumber})+' of '+${totalPages}"></div>
    <a th:style="${nextPage} ? 'visibility:visible' : 'visibility:hidden'" th:text="'Older Comments'"
       th:href="@{'/comments?pageNumber='+${nextPage}}"></a>

</div>
<div th:if=${comments} th:each="comment : ${comments}">
    <div
            th:unless="${comment.privateMessage == true} or ${comment.deletedComment}"
         style="border-style:solid">
        <p>
        <span><a
                th:href="@{'../../runners/runnerDetails/'+${comment.messageCreator.id}}"
                 th:text="${comment.messageCreator.callsign}"></a></span>
        <span th:text = "' said'"></span>
        <span th:if="${comment.runSession}"
              th:text="' about the '"></span>
        <span
                th:if="${comment.runSession}"><a
                th:href="@{'../../runSessions/runSessionDetails/'+${comment.runSession.id}}" th:text="${comment.runSession.name}"></a></span>
        <span th:if="${comment.runSession}"
              th:text="' session'"></span>
        <span th:if="${comment.trail}"
              th:text="' on the '"></span>
        <span th:if="${comment.trail}"><a
                th:href="@{'../../trails/trailDetails/'+${comment.trail.id}}" th:text="${comment.trail.name}"></a></span>
        <span th:if="${comment.trail}" th:text="' trail'"></span>
        <span
                th:text="' on '+${comment.displayStringDate()}+' at '+${comment.displayStringTime()}+' CST'"></span>
        </p>
        <p th:text="'Title: '+${comment.messageTitle}"></p>
        <p th:text="${comment.message}"></p>
        <div th:if="${currentRunner}"
             style="text-align:right;">
            <a style="background-color:red !important; margin:5px;"
               class="btn btn-primary "
                    th:if="${currentRunner} == ${comment.messageCreator}"
                    th:href="@{'/comments/index?deleteComment='+${comment.id}}">Delete Comment</a>
        </div>
    </div>
</div>
<div class="centeringDiv">
    <a th:href="@{'/comments?pageNumber='+${previousPage}}"
       th:style="${previousPage} ? 'visibility:visible' : 'visibility:hidden'"
       th:text="'Newer Comments'"></a>
    <div style="font-style:italic;" th:text="'Page '+(${pageNumber})+' of '+${totalPages}"></div>
    <a th:style="${nextPage} ? 'visibility:visible' : 'visibility:hidden'" th:text="'Older Comments'"
       th:href="@{'/comments?pageNumber='+${nextPage}}"></a>
</div>

<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>