:root {
   --main-background-color: lightgray;
   --main-text-color:black;
   --alt-text-color:white;
   --runnerbar-and-hover-color: darkblue;
   --hover-text-color: black;
   --greyed-text: #818181;
   --table-line-nth-child-color: gray;
   --shadow-color : grey;
   --comment-block-border-color : silver;
   --comment-block-background-color : gray;


}

body {

    background-color:var(--main-background-color);
    color: var(--main-text-color);
    padding: 10px;
    padding-bottom: 70px;
}

#main {
    transition: margin-left .5s;
}

.errors {
    color: red;
    font-style:italic;
}

.headerBlankSpace {
    margin-top:160px;
}

.sideNavButton {
    top:0px;
    display:inline;
    width:100px;
    float:left;

}

.sideNavButtonPic{
    box-shadow:2px 2px 2px var(--shadow-color);
}

.sideNav {
    border-right:ridge;
    border-color: darkgray;
    background-color:var(--main-background-color);
    height: 100%;
    width: 0;
    position: fixed;
    z-index:1;
    top:0;
    left: 0;
    overflow-x:hidden;
    padding-top: 10px;
    transition:0.5s;
}

.dropMenuHeader {
        font-size:25px;
         color:var(--main-text-color);
    }

.homeMenuDropdown, .runnerMenuDropdown,
    .commentsMenuDropdown, .trailMenuDropdown,
    .runSessionMenuDropdown, .loginMenuDropdown,
    .contactAdminDropdown {
    }

.sideNavLinkList{
    list-style-type: none;
    padding: 10px;
}

.sideNav a {
  padding: 4px 4px 4px 0px;
  text-decoration: none;
  font-size: 15px;
  color: var(--greyed-text);
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
    background-color:var(--runnerbar-and-hover-color);
     color: var(--hover-text-color);
}

.topOfSideNav {
    top:0;
}

.sideNav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    top:30px;
    padding: 0;
}

.closebtn:hover{
    background-color: var(--runnerbar-and-hover-color);
    cursor: pointer;
}

.runnerbar{
    z-index:999;
    position: fixed;
    top: 0;
    width: auto;
    align-content: center;
    background-color:var(--runnerbar-and-hover-color);
    border:outset;
    border-radius:10px;
    text-align:center;
    align-items:center;
    display:flex;
    justify-content:space-around;
    box-shadow: 3px 3px 3px var(--shadow-color);
}

.listnavbar{
    position: fixed;
    bottom: 0;
    width:50%;
    background-color:var(--runnerbar-and-hover-color);
    border:outset;
    border-radius:10px;
    text-align:center;
    display:flex;
    justify-content:space-around;
    box-shadow: 3px 3px 3px var(--shadow-color);
}

.runnerbarspan{
    position:relative;
    color:var(--alt-text-color);
}

.commentBlock{
    border-style: outset;
    border-color: var(--commment-block-border-color);
    background-color: var(--comment-block-background-color);
    color: var(--alt-text-color);
}

.runnertable, .trailtable, .runsessiontable{
    table-layout:fixed;
    width:100%;
}

.runnertablehead, .trailtablehead, .runsessiontablehead{
    border:outset;
    border-radius:10px;
    background-color:var(--runnerbar-and-hover-color);
}

.runnertableline:nth-child(even){
    background-color:var(--table-line-nth-child-color);
}

.trailtableline:nth-child(even){
    background-color:var(--table-line-nth-child-color);
}

.runsessiontableline:nth-child(even){
    background-color:var(--table-line-nth-child-color);
}


.centeringDiv{
    display:flex;
    justify-content:space-around;
}

.runnerDetailsHeader, .trailDetailsHeader,
.runSessionDetailsHeader{
    text-align:center;
    color: var(--alt-text-color);
     border:outset;
     border-radius:10px;
     background-color:var(--runnerbar-and-hover-color);
     display:inline;
}


.runnerMenu {
    padding-left:20px;
    background-color:var(--main-background-color);
    transition: display 1s linear;
}

.commentsMenu {
    padding-left:20px;
    background-color:var(--main-background-color);
    transition: all 0.3s;
}

.trailMenu {
    padding-left:20px;
    background-color:var(--main-background-color);
    transition: all 0.3s;
}

.runSessionMenu {
    padding-left:20px;
    background-color:var(--main-background-color);
    transition: all 0.3s;
}

@keyframes fadeIn {
    0% {opacity:0; font-size:00px; }
    80% { font-size:auto;}
    100% {opacity: 100;}
}



.homePageHeader {
    font-size:8vw;
    margin-top:40vh;
    animation-name:fadeIn;
    animation-duration: 2s;
}

.homePageButton {
    font-size:3vw;
}

.commentTextArea {
    max-width:100vw;
}

.ratingsBox {
    border-style:solid;
    padding:3px;
}

.row {
}

.column {
    width:50%;

}

@keyframes shadowMove {
    0% {box-shadow: 2px 2px 2px gray; }
    50% {box-shadow: -5px -5px 2px gray;}
    100% {box-shadow: 2px 2px 2px gray;}

}

@keyframes wobble {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(1deg);}
    30% {transform: rotate(0deg);}
    50% {transform: rotate(-1deg);}
    60% {transform: rotate(0deg);}
    70% {transform: rotate(1deg);}
    80% {transform: rotate(0deg);}
    90% {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
}





.btn-primary:hover {
    animation-name:wobble;
    animation-duration:.25s;
}

.btn-primary {
    box-shadow:2px 2px 2px gray;
}

@media screen and (orientation:landscape) and
(max-width:900px){

    body {
    background-color:var(--main-background-color);
    }

    .mobileLandscapeDelete{
        display:none;
    }
    .dropMenuHeader {
            font-size:15px;
             color:var(--main-text-color);
        }
}

@media screen and (orientation:portrait) and (max-width:
800px){
    body {
    background-color:var(--main-background-color);
    }

    .headerBlankSpace {
        margin-top:110px;
    }

    .homeMenuDropdown, .runnerMenuDropdown,
    .commentsMenuDropdown, .trailMenuDropdown,
    .runSessionMenuDropdown, .loginMenuDropdown,
    .runnerMenu, .commentsMenu, .trailMenu, .runSessionMenu,
    .contactAdminDropdown
     {
         text-align:center;
     }
    .dropMenuHeader {
        font-size:25px;
         color:var(--main-text-color);
    }
    .homePageButton{
        margin-top:10px;
    }
    .listnavbar{
        display:none;
    }
    .mobilePortraitDelete{
        display:none;
    }

    .mobilePortraitJustifyRight {
        text-align:right;
    }

    .mobilePortraitJustifyCenter {
        text-align:center;
    }

   .sideNavButtonPic {
        height:50px;
        width:50px;
   }

   .mobileBox {
        border-style:solid;
        margin:2px;
        text-align:center;
        padding:4px;
   }

    .ratingsBox{
        border-style:none;
    }

   .row {
   }

   .column {
        width:100%;
        border-style:solid;
        margin:6px;
   }

}



.runnerMenu {
    padding-left:20px;
    background-color:var(main-background-color);
    transition: display 1s linear;
}

.commentsMenu {
    padding-left:20px;
    background-color:var(main-background-color);
    transition: all 0.3s;
}

.trailMenu {
    padding-left:20px;
    background-color:var(main-background-color);
    transition: all 0.3s;
}

.runSessionMenu {
    padding-left:20px;
    background-color:var(main-background-color);
    transition: all 0.3s;
}

@keyframes fadeIn {
    0% {opacity:0; font-size:00px; }
    80% { font-size:auto;}
    100% {opacity: 100;}
}



.homePageHeader {
    font-size:8vw;
    margin-top:40vh;
    animation-name:fadeIn;
    animation-duration: 2s;
}

.homePageButton {
    font-size:3vw;
}

.commentTextArea {
    max-width:100vw;
}

.ratingsBox {
    border-style:solid;
    padding:3px;
}

.row {
}

.column {
    width:50%;

}

@keyframes shadowMove {
    0% {box-shadow: 2px 2px 2px gray; }
    50% {box-shadow: -5px -5px 2px gray;}
    100% {box-shadow: 2px 2px 2px gray;}

}

@keyframes wobble {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(1deg);}
    30% {transform: rotate(0deg);}
    50% {transform: rotate(-1deg);}
    60% {transform: rotate(0deg);}
    70% {transform: rotate(1deg);}
    80% {transform: rotate(0deg);}
    90% {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
}





.btn-primary:hover {
    animation-name:wobble;
    animation-duration:.25s;
}

.btn-primary {
    box-shadow:2px 2px 2px gray;
}

@media screen and (orientation:landscape) and
(max-width:900px){

    body {
    background-color:var(--main-background-color);
    }

    .mobileLandscapeDelete{
        display:none;
    }
    .dropMenuHeader {
            font-size:15px;
             color:var(--main-text-color);
        }
}

@media screen and (orientation:portrait) and (max-width:
800px){
    body {
    background-color:var(--main-background-color);
    }

    .headerBlankSpace {
        margin-top:110px;
    }

    .homeMenuDropdown, .runnerMenuDropdown,
    .commentsMenuDropdown, .trailMenuDropdown,
    .runSessionMenuDropdown, .loginMenuDropdown,
    .runnerMenu, .commentsMenu, .trailMenu, .runSessionMenu,
    .contactAdminDropdown
     {
         text-align:center;
     }
    .dropMenuHeader {
        font-size:25px;
         color:var(main-text-color);
    }
    .homePageButton{
        margin-top:10px;
    }
    .listnavbar{
        display:none;
    }
    .mobilePortraitDelete{
        display:none;
    }

    .mobilePortraitJustifyRight {
        text-align:right;
    }

    .mobilePortraitJustifyCenter {
        text-align:center;
    }

   .sideNavButtonPic {
        height:50px;
        width:50px;
   }

   .mobileBox {
        border-style:solid;
        margin:2px;
        text-align:center;
        padding:4px;
   }

    .ratingsBox{
        border-style:none;
    }

   .row {
   }

   .column {
        width:100%;
        border-style:solid;
        margin:6px;
   }

}

