<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">
<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>


<h1
    style="text-align:center;"><div class="homePageHeader">Welcome
    to RunShare!</div></h1>
<div style="text-align:center">
    <a class="homePageButton btn btn-primary"
       th:unless="${currentRunner}"
       th:href="@{/runners/addRunner}">Create a
        new Runner account</a>
    <a class="homePageButton btn btn-primary"
       th:unless="${currentRunner}"
       th:href="@{/runners/login}">Log in an existing Runner</a>
    <a class="homePageButton btn btn-primary"
       th:if="${currentRunner}"
       th:href="@{/runners}">Go to Runner list</a>
    <a class="homePageButton btn btn-primary"
       th:if="${currentRunner}"
       th:href="@{/comments}">Go to Comments</a>
    <a class="homePageButton btn btn-primary"
       th:if="${currentRunner}"
       th:href="@{/runSessions}">Go to Run
        Sessions</a>
</div>
<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>