<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">
<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>


<h1 style="text-align:center; padding-top:50px;">Welcome
    to Runshare!</h1>
<small>v1.01</small>
<div style="text-align:center">
<a th:unless="${currentRunner}"
   th:href="@{/runners/addRunner}"
        class="btn btn-primary">Create a
    new Runner account</a>
<a th:unless="${currentRunner}" th:href="@{/runners/login}"
   class="btn btn-primary">Log in an existing Runner
</a>
</div>
<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>