<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">
<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>


<h1
    style="text-align:center;"><div class="homePageHeader">Welcome
    to RunShare!</div></h1>
<div style="text-align:center">
    <a class="homePageButton btn btn-primary"
       th:unless="${currentRunner}"
       th:href="@{/runners/addRunner}"
       style="margin:3px;">Create a
        new Runner account</a>
    <a class="homePageButton btn btn-primary"
       th:unless="${currentRunner}"
       th:href="@{/runners/login}" style="margin:3px;">Log in an existing
        Runner</a>
    <a class="homePageButton btn btn-primary"
       th:if="${currentRunner}"
       th:href="@{/runners}" style="margin:3px;">Go to Runner list</a>
    <a class="homePageButton btn btn-primary"
       th:if="${currentRunner}"
       th:href="@{/comments}" style="margin:3px;">Go to Comments</a>
    <a class="homePageButton btn btn-primary"
       th:if="${currentRunner}"
       th:href="@{/runSessions}" style="margin:3px;">Go to Run
        Sessions</a>
</div>
<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>