<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">


<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>
<div class="headerBlankSpace"></div>
<div class="centeringDiv">
    <div th:if="${resettingRunner}">
        <h1 style="text-align:center;"
            th:text="'Request password reset for '+${resettingRunner.callsign}"></h1>
    </div>
</div>
<div class="centeringDiv"
     th:unless="${resettingRunner.email}">
    <div style="width:35%; text-align:justify;">We are
    sorry, but your Runner account does not have a
        valid email on file, so we are unable to send
        you a reset link.  If you currently have
        access to your account and would like to change
        your password, visit your Runner
        Details page and click on the "Edit Details"
        button to add an email before attempting to
        reset your password.  If you cannot access
        your account, please contact a RunShare
        administrator for assistance if you need your
        password reset</div>
</div>
<div class="centeringDiv"
     th:unless="${resettingRunner.email}">
    <a class="btn btn-primary" th:href="@{/}"
       th:text="'Return to RunShare home'"></a>
</div>
<div class="centeringDiv" th:if="${resettingRunner.email}">
    <div style="width:35%; text-align:justify;">A
        password reset link will to be sent to the email
        listed in your Runner Details.  Follow the link
        to complete your password reset
    </div>
</div>
<div class="centeringDiv" th:if="${resettingRunner.email}">
    <form method="post">
        <button type="submit" class="btn btn-primary"
                th:text="'Request reset email'"></button>
    </form>
</div>
</body>
</html>