<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>
<div class="headerBlankSpace"></div>
<div th:unless="${validRequest}">
    <div class="centeringDiv">
        <div style="width:35%; text-align:justify;">
            We are sorry, but this does not seem to be a
            valid password reset request, or the link has
            expired.  Please request a new password reset
            email from the login screen.
        </div>
    </div>
    <div class="centeringDiv">
        <a th:href="@{/runners/login}"
           th:text="'Go to log in screen'"
           class="btn btn-primary"
           style="margin-top:5px;"></a>
    </div>
</div>
<div th:if="${validRequest}">
    <div class="centeringDiv">
        <div th:if="${resettingRunner}">
            <h1 style="text-align:center;"
                th:text="'Let\'s reset your password, '+${resettingRunner.callsign}"></h1>
        </div>
    </div>
</div>
<div th:if="${validRequest}">
    <form method="post">
        <div class="form-group">
            <label for="password" type="password">Enter a
                new
                Password</label>
            <input
                    th:field="${newPasswordDTO.password}"
                    type="password" id="password">
            <p th:errors="${newPasswordDTO.password}"
               class="errors"></p>
            <small class="form-text text-muted">Passwords can
                be 8-20 characters of any type
            </small>
        </div>
        <div class="form-group">
            <label for="verifyPassword">Verify
                Password</label>
            <input autofocus
                    th:field="${newPasswordDTO.verifyPassword}" type="password" id="verifyPassword">
            <p
                    th:errors="${newPasswordDTO.verifyPassword}" class="errors"></p>
        </div>
        <button type="submit" class="btn btn-primary"
                th:text="'Submit new password for '+${resettingRunner.callsign}"></button>
    </form>
</div>
</body>
</html>