<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>

<p th:replace="fragments :: navbar"></p>

<div class="headerBlankSpace"></div>
<h1 style="width:100vw" th:text="'Set your difficulty for
'+${trail.Name}+' trail'"></h1>
<form method="post">
    <div class="form-group" style="width:90vw;">
        <div>
        <label for="difficulty">Choose the difficulty</label>
        </div>
        <select style="width:90vw;"
                th:field="${newTrailDifficultyDTO.trailDifficulty}" id="difficulty" autofocus>
            <option
                    th:each="difficulty: ${trailDifficulties}" th:text="${difficulty.getDescription()}" th:value="${difficulty}"></option>
        </select>
        <p
                th:errors="${newTrailDifficultyDTO.trailDifficulty}" class="errors"></p>
    </div>
    <button type="submit" class="btn btn-primary">Set
        trail difficulty
    </button>
</form>
</body>
</html>