<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body id="main">

<div class="centeringDiv">
    <p th:replace="fragments :: runnerbar"></p>
</div>
<p th:replace="fragments :: navbar"></p>

<div class="headerBlankSpace"></div>

<div th:if="${deleteTrail}"
     style="background-color:#2A2773; color: #f1f1f1; cursor: pointer;"
     onclick="makeDisappear(this)">
    <div class="centeringDiv">
        <div>
            <span style="font-style:italic;"
                  th:text="${deleteTrail}"></span>
            <span th:text="' trail deleted'"></span>
        </div>
    </div>
    <div class="centeringDiv">Note: Comments and
        RunSessions associated
        with this trail are not deleted</div>
    <div class="centeringDiv">
        <div th:text="'Click bar to remove'"></div>
    </div>
</div>

<h1 style="text-align:center;">Trail
    Catalog</h1>

<div th:unless="${currentRunner}" class="centeringDiv">
    <div>
        <span><a
                th:href="@{/runners/login}"
                class="btn btn-primary"
                style="margin:5px; padding:5px;">Login</a></span>
        <span>to create a Trail</span>
    </div>
</div>
<div class="centeringDiv">
    <div th:if="${currentRunner}"><a
            class="btn btn-primary"
            th:href="@{'/trails/addTrail'}"
            style="margin:5px; padding:5px;">Add a new
        Trail</a></div>
</div>

<h3 style="text-align:center;" th:if="${sortType}"
    th:text="'Sorted by '+${sortType}"></h3>
<small th:if="${sortType}" class="form-text text-muted"
       style="text-align:center;"><a
        th:href="@{'/trails/'}">Remove Sorting</a></small>

<table class="trailtable">
    <tr class="trailtablehead">
        <th><span>Name</span><span><a
                th:href="@{'/trails/nameAsc'}">&#8593;
        </a></span><span><a
                th:href="@{'/trails/nameDesc'}">&#8595;</a></span>
        </th>
        <th><span>Miles</span><span><a
                th:href="@{'/trails/milesAsc'}">&#8593;
        </a></span><span><a
                th:href="@{'/trails/milesDesc'}">&#8595;
        </a></span></th>
        <th class="mobilePortraitDelete">
            <span>Location</span><span><a
                th:href="@{'/trails/addressAsc'}">&#8593;
        </a></span><span><a
                th:href="@{'/trails/addressDesc'}">&#8595;
        </a></span></th>
        <th>Difficulty Rating</th>
        <th class="mobilePortraitDelete">Ratings</th>
        <th>Scenery Rating</th>
        <th class="mobilePortraitDelete">Ratings</th>
    </tr>
    <tr class="trailtableline"
        th:each="trail : ${trails}"
        th:unless="${trail.deletedTrail}">
        <td>
            <a th:href="@{'trails/trailDetails/'+${trail.id}}"
               th:text="${trail.name}"></a>
        </td>
        <td th:text="${trail.miles}"></td>
        <td class="mobilePortraitDelete" th:text="${trail.address}"></td>
        <td th:if="${trail.returnTrailDifficultyAvg(trailDifficulties) == 6}">&#9734&#9734&#9734&#9734&#9734</td>
        <td th:if="${trail.returnTrailDifficultyAvg(trailDifficulties) == 1}">&#9733&#9734&#9734&#9734&#9734</td>
        <td th:if="${trail.returnTrailDifficultyAvg(trailDifficulties) == 2}">&#9733&#9733&#9734&#9734&#9734</td>
        <td th:if="${trail.returnTrailDifficultyAvg(trailDifficulties) == 3}">&#9733&#9733&#9733&#9734&#9734</td>
        <td th:if="${trail.returnTrailDifficultyAvg(trailDifficulties) == 4}">&#9733&#9733&#9733&#9733&#9734</td>
        <td th:if="${trail.returnTrailDifficultyAvg(trailDifficulties) == 5}">&#9733&#9733&#9733&#9733&#9733</td>
        <td class="mobilePortraitDelete" th:text="${trail.returnNumberOfTrailDifficultyRatings(trailDifficulties)}"></td>

        <td th:if="${trail.returnTrailSceneryAvg(trailSceneryRatings) == 6}">&#9734&#9734&#9734&#9734&#9734</td>
        <td th:if="${trail.returnTrailSceneryAvg(trailSceneryRatings) == 1}">&#9733&#9734&#9734&#9734&#9734</td>
        <td th:if="${trail.returnTrailSceneryAvg(trailSceneryRatings) == 2}">&#9733&#9733&#9734&#9734&#9734</td>
        <td th:if="${trail.returnTrailSceneryAvg(trailSceneryRatings) == 3}">&#9733&#9733&#9733&#9734&#9734</td>
        <td th:if="${trail.returnTrailSceneryAvg(trailSceneryRatings) == 4}">&#9733&#9733&#9733&#9733&#9734</td>
        <td th:if="${trail.returnTrailSceneryAvg(trailSceneryRatings) == 5}">&#9733&#9733&#9733&#9733&#9733</td>
        <td class="mobilePortraitDelete" th:text="${trail.returnNumberOfTrailSceneryRatings(trailSceneryRatings)}"></td>
    </tr>

</table>
<div class="centeringDiv">
    <p th:replace="fragments :: listnavbar"></p>
</div>
</body>
</html>